@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-mulish {
  font-family: "Mulish", sans-serif;
}
.bg-announcement {
  background: linear-gradient(85.77deg, #EFF8F9 0%, #E2F1F8 51%, #EFF8F9 99%);

}

.announce-list-shadow {
  box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.08);
}

.vacancies-card-shadow {
  box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.07);
}

.medical-service {
  background: rgba(0, 125, 139, 0.8);
}

.about-center-shadow {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.15);
}

.content__min_h{
  min-height: calc(100vh - 425px);
}

.dropdown-menu {
  position: absolute;

}

.dropdown:hover .dropdown-menu {
  display: block;

}


.toggle-menu {
  position: absolute; 
  z-index: 999; 
  width: auto; 
  background-color: #f9f9f9; 
}

.container-menu {
  position: relative;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  width: 100%;
  height: 0;
  overflow: hidden;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}